<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div>
            {{>header}}
        <h1>{{errormessage}}</h1>
        </div>
        {{>footer}}
    </body>
</html>